.parmani{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    margin-top: 7%;
    margin-left: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}