.parmani{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    text-align: justify;
    font-size: large;
  }