.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: lightgreen;
}

.item{
    background-color: lightblue;
    border: 1px solid;
}
*{
    margin: 0;
}

.divi{
    background-color: blueviolet;
 grid-row:span 2;
}